<ng-container *ngIf="flights$ | async as flights">

  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Flight Search</h2>
    </div>

    <div class="card-body">

      <app-flight-filter
        [filter]="filter()"
        (searchTrigger)="search($event)"
        >
        <div *ngIf="flights.length" class="flight-filter-info">
          {{ flights.length }} flights found!
        </div>
        <button *ngIf="flights.length" (click)="reset()"
          class="btn btn-default flight-filter-button"
        >Reset</button>
      </app-flight-filter>

    </div>
  </div>

  <div class="row">
    <div *ngFor="let flight of flights" class="col-xs-12 col-sm-6 col-md-4">
      <app-flight-card
      [item]="flight"
      [(selected)]="basket[flight.id]"
      (delayTrigger)="delay($event)"
    />
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Basket</h2>
    </div>

    <div class="card-body">
      <pre>{{ basket | json }}</pre>
    </div>
  </div>

</ng-container>
